/* DEFAULTS
----------------------------------------------------------*/

.td_aboutUs
{ margin: 10px;
  margin: margin-bottom: 10px;
  width: 500px;
  margin-left: 10px;
}

.appoint_td
{    width: 500px;
}

body
{
    background-position: left bottom;
    background: #FFFFFF;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 5px;
    padding: 0px;
    color: #000000;
    background-image: url('../Images/bk2.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

.p_appoint
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 200px;
}

.appoint_p



.about_us
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 416px;
    height: 1637px;
}

m
{
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 428px;
    height: 1751px;
}


.login
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 382px;
}

.appointText
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 665px;
}


.psalon
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 886px;
}

.salonstaff
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 662px;
}

.empSch
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 662px;
}

.maleservice
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 938px;
}

.spa_nail_service
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 938px;
}

.appointment
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 561px;
}

.spaStaff
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 662px; 
}



.contact
{
   
    margin-bottom:10px;
}
.OneLineContact
{
    margin-bottom: 10px;
    margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 356px;
    height: 26px;
}


register
 {   margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 314px;
    height: 35px;
}


p
{
    margin-bottom: 10px;
     margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 414px;
}




.registerUser

{
 
 margin-bottom:10px;
 margin:15px;
 line-height:1.6em;
 font-size:medium;
 width:370px;
 height:auto;
 
    
}


.login
{
 margin-bottom:10px;
 margin:15px;
 line-height:1.6em;
 font-size:medium;
 width:370px;
 height:auto;
    
}
.radiobutton 

{
    margin-bottom: 10px;
     margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 366px;
    height:87px;
}


r
{
margin-bottom: 10px;
     margin: 15px;
    line-height: 1.6em;
    font-size:medium;
    width: 500px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
     margin-left: 20px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 326px;
    margin-left: 40px;
    height: 38px;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px; 
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 99%;
    top: 3px;
    left: 4px;
    height: 128px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    text-decoration:none;
    
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    background: #465c71;
    padding: 4px -8px 4px 8px;
    width:100%;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
   
}

fieldset p 
{
    margin: 2px 8px 10px 10px;
    text-align: left;
    height: 24px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
    margin-right: 3px;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: x-large;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    color: #000000;
    font-family: Garamond;
}

input.textEntry 
{
    width: 200px;
    border: 1px solid #ccc;
}

input.radiobutton 
{
    width: 100px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 200px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 46%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: black;
    height: 39px;
}

.loginDisplay a:link
{
    color: black;
}

.loginDisplay a:visited
{
    color: #0000ff;
}

.loginDisplay a:hover
{
    color: #0000ff q;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: left;
    padding-right: 10px;
   
}

/* START Header Section */
.title
{
    display: block;
    float: left;
    margin: 20px 0;
    text-align: left;
    width: 553px;
    height: 68px;
    position: relative;
    left: 272px;
    top: -21px;
}

.logo 
{
    margin-left: 0px; 
    margin-right: 0px; 
    margin-top: 0px;
    margin-bottom:10px;
    height: 100px;
    width: 250px;
    float: left;
}

h1.logoTitle 
{
    font-family: Garamond; 
    font-size: x-large; 
    font-weight: bolder; 
    font-style: normal; 
    text-transform: uppercase; 
    color: #0000FF; 
    height: 102px;
}

/* END Header Section */

/* START Body */
.content
{
    font-family: Garamond;
    font-size: medium;
    color: #000;
    font-weight: bold;
    padding-right: 25px;
    
    /*margin: 0px; 
    padding: 0px; 
    display: block; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    line-height: 19px; 
    font-style: normal; 
    font-variant: normal; 
    letter-spacing: normal; 
    orphans: 2; 
    text-align: -webkit-auto; 
    text-indent: 0px; 
    text-transform: none; 
    white-space: normal; 
    widows: 2; 
    word-spacing: 0px; 
    -webkit-text-size-adjust: auto; 
    -webkit-text-stroke-width: 0px; 
    background-color: rgb(255, 255, 255);*/
}

.loginInfo
{
    padding: 50px;
}
/* END Body */