<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <!--<connectionStrings>

    <add name="MyDbConn"
         connectionString="Server=MARCOMACK-PC\SQLEXPRESS; Database=Salondb; User Id=MaRcOMaCk; "
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
</configuration>
